# Maven
target/

# Allure
*.allure
allure-results/
allure-report/

# Logs
logs/
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Selenium
*.png
*.mp4

# Temporary files
*.tmp
*.swp