<!DOCTYPE suite SYSTEM "https://testng.org" >
<suite name="TestSuite">
<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>
    <test name="TestExecution">
        <classes>
        <class name="com.practicejava.tests.HomePageTest">
        <methods>
            <include name="verifyHomePageTitleTest" />
            <include name="verifySearchButtonTest" />
            </methods>
            </class>
        </classes>
    </test>
</suite>
